database.yml
*.log
tmp/**/*
.DS_Store
.rsync_cache
restart.txt
public/system
coverage
test/reports
*.tmproj
public/stylesheets/compiled/*
tmp/output.xml
scratch_directory
data/
db/*.sqlite3
config/api_keys.yml